body {
    margin: 0;
    background-color: #FAFAFA;
}

/* 第一行到导航栏 */
.top {
    display: flex;
    justify-content: space-between;
    height: 40px;
    font-size: 14px;
    color: #29B078;
    background-color: #FFFFFF;
}

.top-right {
    display: flex;
    height: 24px;
    justify-content: flex-end;
}

.wx {
    margin: 8px 20px 8px 0;
    width: 25px;
    height: 24px;
    background: url(../img/css_sprites.png) no-repeat -63px -0;
}

.qq {
    margin: 8px 20px 8px 0;
    width: 25px;
    height: 24px;
    background: url(../img/css_sprites.png) no-repeat -13px -0;
}

.wb {
    margin: 8px 0 8px 0;
    width: 25px;
    height: 24px;
    background: url(../img/css_sprites.png) no-repeat -38px -0;
}

.one {
    line-height: 100px;
    text-align: center;
    background-color: #29B078;
}

.anniu {
    width: 50px;
    text-align: center;
}

@media screen and (max-width:768px) {
    .nav-item {
        display: flex;
        justify-content: center;
    }
}

.logo {
    line-height: 100px;
    text-align: left;
}

#collapsibleNavbar {
    justify-content: flex-end;
}

button {
    outline: none !important;
}

@media screen and (max-width:768px) {
    .btn {
        width: 50%;
        text-align: right;
    }
}

.container-fluid {
    padding: 0;
}

.navbar-dark {
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    border-bottom: 5px solid transparent;
    font-size: 16px;
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 5px solid #FFFFFF;
}

/* 第二行 */
main {
    margin-bottom: 100px;
}

.oo {
    width: 100%;
}

.all {
    margin-top: 17px;
}

.start {
    font-size: 8px;
}

.page {
    color: #333333;
}

.partner {
    color: #29B078 !important;
}

/* 第二行前三列 */
.two-one {
    margin-top: 15px;
    padding: 0;
}

.enterprise {
    padding: 0;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px 1px #999999;
}

.cooperate {
    padding: 11px 30px;
    border-bottom: 2px solid rgba(250, 250, 250, .5);
    text-align: center;
    font-size: 11px;
    color: #333333;
}

.business {
    width: 80px;
    text-align: center;
    margin: 5px auto;
    color: #FFBB00;
    list-style-type: circle;
}

.name {
    font-size: 11px;
    line-height: 40px;
    color: #29B078 !important;
}

.name:hover {
    color: red !important;
}

.business:hover {
    list-style-type: disc;
}

/* 第二行右文字 */
.two-two {
    margin-top: 15px;
    padding: 0;
}

.headline {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px 1px #999999;
}

.tudo {
    padding: 20px 40px;
    border-bottom: 2px solid rgba(250, 250, 250, .5);
}

.tdw {
    float: left;
}

.essay {
    font-size: 7px;
    color: #999999;
}

.introduction {
    padding: 20px 40px;
    border-bottom: 2px solid rgba(250, 250, 250, .5);
    font-size: 7px;
    color: #999999;
}

.first {
    margin-bottom: 30px;
}

/* 底部蓝框 */
.eight {
    font-size: 16px;
    color: #FFFFFF;
}

.tree {
    margin-top: 30px;
}

.fit {
    font-size: 14px;
    margin-top: 10px;
}


.web {
    margin-top: 30px;
}

.eight-one {
    margin-top: 20px;
}

.eight-two {
    margin-top: 20px;
}

.it:hover {
    text-decoration: underline;
}

.best:hover {
    text-decoration: underline;
}

.it {
    display: inline-block;
    font-size: 14px;
}

.best {
    display: inline-block;
    padding-left: 10px;
    font-size: 14px;
}

.eight-three {
    margin-top: 10px;
}

.container-fluid {
    padding: 0;
}

.finally {
    text-align: center;
    background-color: #26A26F;
    border-top: 1px solid rgba(255, 255, 255, .5);
    font-size: 16px;
    color: #FFFFFF;

}

.gzh {
    text-align: right;
    font-size: 13px;
}

.bag {
    height: 170px;
    background-color: #26A26F;
}

@media screen and (max-width: 768px) {
    .eight {
        display: flex;
        flex-direction: column;
    }

    .web {
        margin-top: 100px;
        text-align: left;
    }

    .eight-one {
        display: flex;
        justify-content: left;
        margin-top: 10px;
    }

    .gzh {
        text-align: left;
    }

    .eight-three {
        margin-top: 250px;
    }

    .bag {
        height: 400px;
        background-color: #26A26F;
    }

    .finally {
        margin-top: 390px;
    }
}