@charset "UTF-8";
/* 变量 */
/*去除默认属性*/
html {
  font-size: 625%;
}

body {
  margin: 0;
  font-size: initial;
  background-color: #69D1E9;
}

ul,
li,
button,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}

.all {
  background-color: #F0F0F0;
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: .44rem;
  background-color: #69D1E9;
}

header .back {
  width: 0.15rem;
  height: 0.15rem;
  margin-left: .2rem;
  border-top: .03rem solid #FFFFFF;
  border-left: .03rem solid #FFFFFF;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header h5 {
  font-size: .17rem;
  color: #FFFFFF;
  letter-spacing: .02rem;
}

header .home {
  position: relative;
  margin-right: .2rem;
  width: 0.03rem;
  height: 0.3rem;
  background: #FFFFFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .home span {
  position: absolute;
  width: 0.03rem;
  height: 0.3rem;
  background: #FFFFFF;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body {
  background-color: #F0F0F0;
}

main {
  margin: .15rem .15rem 0 .15rem;
}

main p {
  text-align: center;
  line-height: 0.6rem;
  font-size: 0.2rem;
  background-color: #FFFFFFFF;
}

main .players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: .15rem;
  background-color: #FFFFFFFF;
}

main .players .killers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 2rem;
}

main .players .killers img {
  width: 1rem;
}

main .players .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 2rem;
}

main .players .people img {
  width: 1rem;
}

main .numble {
  height: .8rem;
  margin-top: .15rem;
  text-align: center;
  background-color: #FFFFFFFF;
}

main .numble .figure {
  font-size: .17rem;
  height: .4rem;
}

main .numble .figure input {
  width: .2rem;
  outline: none;
}

main .numble .note {
  font-size: .17rem;
  color: orange;
}

main .deal {
  width: 70%;
  height: 0.8rem;
  margin: .2rem 15%;
  font-size: .2rem;
  letter-spacing: .05rem;
  border-radius: .05rem;
  color: #FFFFFFFF;
  background-color: orange;
}
/*# sourceMappingURL=jstask2-1-2.css.map */