@charset "UTF-8";
/* 变量 */
html {
  font-size: 625%;
}

/*去除默认属性*/
body {
  margin: 0;
  font-size: initial;
  background-color: #29BDE0;
}

ul,
li,
button,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}

.all {
  background-color: #F0F0F0;
  overflow: hidden;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  background: #29BDE0;
  z-index: 1;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .12rem;
  border-bottom: 0.01rem solid rgba(255, 255, 255, 0.5);
  height: .44rem;
}

header .home {
  width: .26rem;
  height: .21rem;
  background: url(../img/css_sprites-3.png) no-repeat -10px -133px;
}

header .title {
  width: .69rem;
  height: .16rem;
  font-size: .17rem;
  color: #FFFFFF;
}

header .explain {
  width: .2rem;
  height: .2rem;
  background: url(../img/css_sprites-3.png) no-repeat -56px -133px;
}

main p {
  font-size: .13rem;
  margin: .07rem 0;
}

main .trophy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: .56rem auto 0 auto;
  width: 1.76rem;
  height: 1.03rem;
  background: url(../img/css_sprites-3.png) no-repeat -10px -10px;
}

main .trophy .victory {
  margin-bottom: .16rem;
  font-size: .24rem;
  height: .23rem;
  color: #FFFFFF;
}

main .character {
  padding: 0 .39rem;
  margin-bottom: .12rem;
}

main .character .illustrate {
  margin-top: .11rem;
  font-size: .17rem;
  color: #FFC865;
}

main .character .time {
  margin-top: .3rem;
  color: #FFFFFF;
}

main .character .result {
  color: #FFFFFF;
}

main .date {
  position: relative;
  padding: 0 .39rem;
  border-bottom: 0.01rem solid rgba(166, 166, 166, 0.5);
  height: .87rem;
  background-color: #FFFFFF;
}

main .date .number {
  font-size: .15rem;
  color: #515151;
}

main .date .concrete {
  position: absolute;
  top: .05rem;
  right: .13rem;
  font-size: .1rem;
  color: #C7C7C7;
}

main .date .night {
  color: #A6A6A6;
}

main .date .day {
  color: #A6A6A6;
}

main .blank {
  height: .65rem;
  background-color: #FFFFFF;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  background: #29BDE0;
  z-index: 1;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .11rem .12rem;
  background-color: rgba(41, 189, 224, 0.5);
}

footer button {
  padding: 0;
  width: 43vw;
  height: .43rem;
  font-size: .2rem;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  outline: none;
}

footer .again {
  background-color: #F66F6F;
}

footer .upload {
  background-color: #FBB435;
}
/*# sourceMappingURL=jstask2-3.css.map */