.three {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;

    .three-one {
        margin-top: 56px;
        padding: 0 50px;
        text-align: center;

        .introduce {
            display: flex;
            flex-direction: column;
            margin-top: 50px;

            .rocket {
                margin: 0 auto 18px;
                width: 43px;
                height: 62px;
            }

            .archive {
                margin: 0 auto 32px;
                width: 60px;
                height: 48px;
            }

            .Shape {
                margin: 0 auto 25px;
                width: 52px;
                height: 55px;
            }

            .active {
                margin: 0 auto;
                font-size: 18px;
                font-weight: bold;
                color: #333333;
            }

            .short {
                font-size: 16px;
                color: #999999;
                text-align: center;
            }

        }
    }

    .three-four {
        margin-top: 106px;
        padding: 0 50px;
        border-left: 1px dashed #DEDEDE;

        .person {
            display: inline-block;
            margin-right: 10px;
            width: 13px;
            height: 13px;
            background: url(../img/css_sprites.png) no-repeat -0 -0;
        }

        .number {
            display: inline-block;
            font-size: 18px;
            color: #26A26F;
        }

        .people {
            font-size: 18px;
            color: #999999;
        }
    }
}

@media screen and (max-width: 768px) {
    .three-four .three-one {
        width: 100%;
        text-align: center;
    }
}

.study {
    margin-top: 136px;
    margin-bottom: 54px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

@media screen and (max-width: 768px) {
    .four-four {
        width: 100%;
        text-align: center;
    }

}

@media screen and (max-width: 992px) {
    .part-one {
        margin-bottom: 0 !important;
    }
}

.no {
    float: left;
    width: 75px;
    line-height: 75px;
    margin-right: 5x;
    text-align: center;
    font-size: 18px;
    color: #29B078;
    background: url(../../img/round.png) no-repeat;
}

.part-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin-bottom: 98px;

    .right {
        margin-left: 10px;
    }
}

.show {
    text-align: center;
    font-size: 18px;
    color: #333333;
}

.five-one {
    margin-top: 72px;
    padding: 0 30px;

    .resume {
        padding: 20px;
        text-align: center;
        box-shadow: 5px 5px 5px 5px #999999;
        background-color: #FFFFFF;
        .imge{
            height: 108px;
        }
        .adviser {
            margin: 36px 0 26px 0;
            font-size: 18px;
            font-weight: bold;
            color: #333333;
        }

        .introduction {
            font-size: 16px;
            color: #999999;
        }
    }
}

@media screen and (max-width: 768px) {
    .five-one {
        width: 100%;
    }
}

.dot {
    display: flex;
    justify-content: space-between;
    margin: 25px auto 125px;
    width: 65px;

    .spot {
        background-color: #29B078 !important;
    }

    .dot>span {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #FFFFFF;
        box-shadow: 1px 1px 1px #999999;
    }
}

.cooperation {
    margin-bottom: 68px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.six-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 176px;
    overflow: hidden;

    .alibaba {
        width: 100%;
    }

    .st {
        width: 100%;
    }

    .v {
        width: 100%;
    }

    .cg {
        width: 100%;
    }

    .ff {
        width: 100%;
    }
}

.six-one:hover {
    box-shadow: 5px 5px 5px 5px #999999 !important;
    z-index: 1;
}

@media (max-width: 768px) {
    .six-one {
        width: 100%;

        .alibaba {
            width: auto;
        }

        .st {
            width: auto;
        }

        .v {
            width: auto;
        }

        .cg {
            width: auto;
        }

        .ff {
            width: auto;
        } 
    }
}

.friend {
    margin: 93px auto 20px;
}

.friendship {
    margin: 21px auto 28px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.seven{
    text-align: center;
}

li {
    font-size: 14px;
    color: #999999;

    .case {
        display: inline-block;
        text-align: center;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid #26A26F;
        }
    }
}

.seven-one {
    padding: 0;
}

@media (max-width: 992px) {
    .seven-one {
        display: flex;
        justify-content: space-around;
    }
}  

@media (max-width: 768px) {
    .seven-one {
        width: 100%;
    }  
}  