@charset "UTF-8";
/* 变量 */
/*去除默认属性*/
html {
  font-size: 625%;
}

body {
  margin: 0;
  font-size: initial;
  background-color: #69D1E9;
}

ul,
li,
button,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}

.all {
  background-color: #F0F0F0;
  overflow: hidden;
}

/*隐藏checked复选框*/
#sidemenu {
  display: none;
}

#sidemenu:checked ~ .container {
  right: -70vw;
  /*点击按钮即选中checked后,侧边栏位置变为贴着左边,配合ease-out使用,有渐变滑出的效果*/
}

/* 菜单框 */
.sideul {
  position: absolute;
  width: 70vw;
  height: 100vh;
  background-color: #FFFFFF;
}

.sideul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  font-size: 20px;
  border-bottom: 1px solid #F0F0F0;
  color: #29BDE0;
}

.sideul li .arrow {
  width: 0.2rem;
  height: 0.2rem;
  border-top: .02rem solid #69D1E9;
  border-right: .02rem solid #69D1E9;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container {
  position: relative;
  right: 0;
  height: 100vh;
  background: #F0F0F0;
  -webkit-transition: 1s;
  transition: 1s;
}

.container header {
  height: .44rem;
  background-color: #29BDE0;
}

.container header #control {
  font-size: 30px;
  color: #FFFFFFFF;
  padding: 0 10px;
  margin-left: 10px;
}

.container main {
  margin: .15rem .15rem 0 .15rem;
  background-color: #F0F0F0;
}

.container main .ghost {
  line-height: .58rem;
  text-align: center;
  font-size: .17rem;
  color: #9A9A9A;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 10px -3px;
          box-shadow: 0 0 10px -3px;
}

.container main .ghost .enter {
  position: absolute;
  top: .8rem;
  right: .25rem;
  width: .12rem;
  height: .2rem;
  background: url(../../img/css_sprites-1.png) no-repeat -44px -10px;
}

.container main .game {
  margin-top: .15rem;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 10px -3px;
          box-shadow: 0 0 10px -3px;
}

.container main .game .play {
  margin: 0;
  padding-top: .15rem;
  text-align: center;
  height: .45rem;
  border-bottom: .01rem solid #FBB435;
  font-size: .19rem;
  font-weight: lighter;
  color: #FBB435;
}

.container main .game .easy {
  display: block;
  height: .67rem;
  width: calc(100% - .5rem);
  margin: .15rem .25rem;
  font-size: .16rem;
  color: #FFFFFF;
  background-color: #69D1E9;
}

.container main .game .introduction {
  text-align: center;
  font-size: .12rem;
  color: #787878;
}

.container main .game .next {
  position: absolute;
  top: 340px;
  right: 20px;
  width: .14rem;
  height: .28rem;
  background: url(../../img/css_sprites-1.png) no-repeat -10px -10px;
}

.container main .game .dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .1rem auto;
  padding-bottom: .1rem;
  width: .47rem;
}

.container main .game .dot .spot {
  background-color: #69D1E9 !important;
}

.container main .game .dot .dot > span {
  width: 0.08rem;
  height: 0.08rem;
  border-radius: 50%;
  background-color: #F0F0F0;
}
/*# sourceMappingURL=jstask2-1-1.css.map */